# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
DJANGO_EXTERNAL_PORT=8000

# PostgreSQL
POSTGRES_DB=proto_flash_card_db
POSTGRES_USER=proto_flash_card_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_CONN_MAX_AGE=60
POSTGRES_CONNECT_TIMEOUT=10
POSTGRES_WAIT_TIMEOUT=30

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_EXTERNAL_PORT=6379
REDIS_CACHE_TIMEOUT=300
REDIS_WAIT_TIMEOUT=30

# Django RQ
RQ_DEFAULT_TIMEOUT=300
RQ_HIGH_TIMEOUT=600
RQ_LOW_TIMEOUT=180
RQ_RESULT_TTL=500
RQ_FAILURE_TTL=86400

# Superuser
DJANGO_CREATE_SUPERUSER=True
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-me

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=

# Django REST Framework
DRF_PAGE_SIZE=20
DRF_MAX_PAGE_SIZE=100

DRF_ANON_RATE=100/day
DRF_USER_RATE=1000/day
DRF_LOGIN_RATE=5/min
DRF_UPLOAD_RATE=20/hour