Django==6.0.6
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-filter==25.2
psycopg[binary]==3.3.4
python-dotenv==1.2.1
gunicorn==26.0.0
whitenoise==6.12.0
redis==7.1.0
rq==2.6.1
django-rq==3.2.1

pytest==9.1.0
pytest-django==4.12.0
coverage==7.14.1